@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(245, 184, 0) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  color: white !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

@layer base {
  .dark {
    --background: 212, 10%, 14%;
    --background-500: 212, 10%, 28%;
    --background-600: 212, 10%, 20%;
    --background-700: 212, 10%, 16%;
    --background-800: 212, 10%, 10%;
    --background-900: 212, 10%, 6%;
    --foreground: 360, 100%, 100%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 45, 100%, 48%;
    --primary-100: 45, 100%, 72%;
    --primary-800: 45, 100%, 30%;
    --primary-foreground: 0, 0%, 0%;

    --secondary: 220, 34%, 19%;
    --secondary-foreground: 360, 100%, 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 198, 6%, 54%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 345, 68%, 52%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}
