@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}


@layer base {
  :root {
    --background: 0, 0%, 100%;
    --background-900: 0, 0%, 97%;
    --foreground: 0, 0%, 0%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 31, 54%, 88%;
    --primary-foreground: 0, 0%, 0%;

    --secondary: 240, 3%, 93%;
    --secondary-foreground: 360, 100%, 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 220, 34%, 44%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 345, 68%, 52%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 212, 56%, 14%;
    --background-700: 212, 56%, 16%;
    --background-800: 212, 56%, 12%;
    --background-900: 212, 56%, 10%;
    --foreground: 360, 100%, 100%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 45, 100%, 48%;
    --primary-foreground: 0, 0%, 0%;

    --secondary: 220, 34%, 19%;
    --secondary-foreground: 360, 100%, 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 198, 6%, 54%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 345, 68%, 52%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}



